<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Used to discover devices around you</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_Buzzed._udp</string>
		<string>_Buzzed._tcp</string>
	</array>
</dict>
</plist>
